.profilePicture {
 
  border-radius: 50%;
}

.profilePicture img {
    border-radius: 50%;
    max-width: 300px;
    height: auto;

}

.columns {
   -webkit-columns: 100px 3; /* Chrome, Safari, Opera */
    -moz-columns: 100px 3; /* Firefox */
    columns: 100px 3;
    column-count: 3
}